<div class="container-fluid pt-4 px-4 fixed-bottom">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-12 text-sm-start">
                <p class="text-center">&copy; <a href="#">Kara Kedi</a>, Tum Hakları Saklıdır.</p>
            </div>
        </div>
    </div>
</div>