<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a asp-area="Admin" asp-controller="Adminproduct" asp-action="Index" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa-solid fa-user me-2"></i>Admin</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/img/karakedi-logo.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Karakedi Kafe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a asp-area="Admin" asp-controller="Adminproduct" asp-action="Index" class="nav-item nav-link">
                <i class="fa-solid fa-list me-2"></i>
                Ürünler
            </a>
            <a asp-area="Admin" asp-controller="Admincategory" asp-action="Index" class="nav-item nav-link">
                <i class="fa fa-tags me-2"></i>
                Kategori
            </a>
            <a asp-area="Admin" asp-controller="Admincontact" asp-action="Index" class="nav-item nav-link">
                <i class="fa fa-envelope me-2"></i>
                Iletişim
            </a>
            <a asp-area="Admin" asp-controller="AdminAbout" asp-action="Index" class="nav-item nav-link">
                <i class="fa fa-info-circle me-2"></i>
                Hakkımızda
            </a>
            <a asp-area="Admin" asp-controller="AdminCafeContactInfo" asp-action="Index" class="nav-item nav-link">
                <i class="fa-solid fa-mug-saucer me-2"></i>
                Kafe bilgileri
            </a>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link">
                <i class="fa-solid fa-arrow-left fa-beat-fade me-2"></i>
                Siteye git
            </a>
        </div>
    </nav>
</div>