<div class="row text-center">
    <div class="col-md-4 col-12 text-start p-5">
        <h2>KARAKEDİ</h2>
        <hr>
        <ul class="menu">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Menü</a></li>
            <li><a asp-area="" asp-controller="About" asp-action="Index">Hakkımızda</a></li>
            <li><a asp-area="" asp-controller="Gallery" asp-action="Index">Galeri</a></li>
            <li><a asp-area="" asp-controller="Contact" asp-action="Index">İletişim</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-12 text-start p-5">
        <h2>Çalışma Saatleri</h2>
        <hr>
        <p>Pazartesi : 10.00 - 00.00</p>
        <p>Salı : 10.00 - 00.00</p>
        <p>Çarşamba : 10.00 - 00.00</p>
        <p>Perşembe : 10.00 - 00.00</p>
        <p>Cuma : 10.00 - 00.00</p>
        <p>Cumartesi : 10.00 - 00.00</p>
        <p>Pazar : 10.00 - 00.00</p>
    </div>
    <div class="col-md-4 col-12 text-start p-5">
        <h2>İLETİŞİM</h2>
        <hr>
        <p>Adres : adres deneme</p>
        <a href="tel:5555555555" class="d-block"> Telefon : 0555 555 55 55</a>
        <a href="mailto:denememail@gmail.com">Mail : denememail@gmail.com</a>
    </div>
</div>