@model Product
<div class="card-menu">
    <img src="@Model.ProductImage" alt="">
    <h4>@Model.ProductName</h4>
    <p class="menu-exp">@Model.ProductDescription - <b>@Model.ProductPrice TL</b></p>
</div>