@model Product

<div class="card-menu">
    <img src="@Model.ProductImage" alt="">
    <h4>@Model.ProductName</h4>
    <span class="menu-exp">@Model.ProductDescription</span>
    <span class="price">@Model.ProductPrice TL</span>
</div>