
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    color: #ffff;
    position: absolute;
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.logo-img {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

header span {
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
    display: inline-block;
    z-index: 1000;
}

    header span.fade {
        opacity: 1 !important;
        transform: translateY(0px);
        z-index: 1000;
    }

header img {
    width: 100%;
    max-width: 100%;
    height: 550px;
    filter: brightness(30%);
}

header {
    position: relative;
}

    header nav {
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

        header nav ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0;
        }

            header nav ul li {
                list-style: none;
                padding: 20px;
                color: white;
            }

                header nav ul li a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 1px;
                }

.price {
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 18px;
    font-weight: bold;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

#menuToggleClose {
    display: none;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

    ul.menu li {
        margin-right: 20px;
    }

        ul.menu li a {
            color: #fff;
            text-decoration: none;
        }

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        color: white;
    }

    header nav {
        background-color: #333;
    }

    ul.menu {
        display: none;
        flex-direction: column;
    }

        ul.menu li {
            margin: 10px 0;
        }

    #menuToggleClose.show {
        display: block;
    }

    #menuToggleOpen.hide {
        display: none;
    }

    .price {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 17px;
        font-weight: bold;
    }
}

.btn-menu {
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
}

.card-menu {
    position: relative;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    width: 48%;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
}

    .card-menu img {
        width: 30%;
        height: 150px;
        border-radius: 50%;
    }

    .card-menu h4 {
        position: absolute;
        top: 15%;
        right: 5%;
    }

.menu ul {
    display: flex;
}

    .menu ul li {
        list-style: none;
    }

.menu-grid {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .card-menu {
        flex: 1 1 100%; /* Tam geniþlik */
        height: 150px;
        padding: 5px;
    }

        .card-menu img {
            width: 30%;
            height: 85px;
            border-radius: 50%;
        }
}

#map {
    width: 100%;
    height: 350px;
}

.image-container {
    position: absolute;
    z-index: 1;
}

#leftImageContainer {
    top: 0;
    left: 0;
    animation: rotateIn 1s ease-out;
}

#rightImageContainer {
    top: 0;
    right: 0;
    animation: rotateIn 1s ease-out;
}



/* Dönen animasyon */
@keyframes rotateIn {
    from {
        transform: rotate(-360deg);
        opacity: 0;
    }

    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

#leftImage,
#rightImage {
    height: 250px;
}

.contact-icon {
    position: relative;
    top: -20px;
}

.contact-mail {
    text-decoration: none !important;
    color: black !important;
}

@media (max-width:768px) {
    header .mobile-menu {
        display: block;
        position: absolute;
        top: 0;
        z-index: 5;
        background: rgba(0, 0, 0, 0.8); /* Saydamlýk deðeri 0.8 */
        width: 100%;
        height: 50px;
    }

    header .menu {
        display: none;
    }

    .header-logo {
        font-size: 40px;
        text-decoration: none;
        color: white;
        position: absolute;
        top: 0;
        display: block;
    }

    header nav ul {
        align-items: flex-start;
    }

        header nav ul li {
            list-style: none;
            padding: 5px 30px;
            color: white;
        }

    ul.menu {
        background: rgba(0, 0, 0, 0.8); /* Saydamlýk deðeri 0.8 */
        width: 100%;
    }

    header img {
        height: 350px;
    }
}

@media (min-width:768px) {
    header .mobile-menu {
        display: none;
    }

    nav.menu {
        display: block;
    }

    .header-logo {
        display: none;
    }
}

.footer-bottom {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

    .footer-bottom p {
        margin: 0;
    }

.swiper-pop .slide-container {
    max-width: 1440px;
    width: 100%;
    padding: 40px 40px;
}

.swiper-pop .slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.swiper-pop .card {
    border-radius: 25px;
    background-color: #FFF;
}

.swiper-pop .image-content,
.swiper-pop .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.swiper-pop .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.swiper-pop .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fcc721;
    border-radius: 25px 25px 0 25px;
}

    .swiper-pop .overlay::after {
        border-radius: 0 25px 0 0;
        background-color: #FFF;
    }

.swiper-pop .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #000;
    padding: 3px;
}

    .swiper-pop .card-image .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 8px solid black;
    }

.swiper-pop .name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.swiper-pop .description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}


.swiper-pop .swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

    .swiper-pop .swiper-navBtn:hover {
        color: #4070F4;
    }

    .swiper-pop .swiper-navBtn::before,
    .swiper-pop .swiper-navBtn::after {
        font-size: 35px;
    }

.swiper-pop .swiper-button-next {
    right: 0;
}

.swiper-pop .swiper-button-prev {
    left: 0;
}

.swiper-pop .swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pop .swiper-pagination-bullet-active {
    background-color: #4070F4;
}


.menu-exp {
    position: absolute;
    right: 5%;
    top: 40%;
    font-size: 14px;
    color: gray;
    width: 65%;
    text-align: right;
}

footer {
    background-color: #fbfbfb;
    padding: 20px 0px 20px 0px;
}

    footer a {
        font-size: 20px;
        text-decoration: none;
    }

    footer .insta {
        width: 50%;
        background-color: #f8444d;
        padding: 17px 0px 20px 0px;
        border-radius: 10px;
        margin-left: 25%;
        text-align: center;
    }

    footer .face {
        width: 50%;
        background-color: #3b5998;
        padding: 17px 0px 20px 0px;
        border-radius: 10px;
        margin-left: 25%;
        text-align: center;
    }

    footer .wp {
        width: 50%;
        background-color: #25D366;
        padding: 17px 0px 20px 0px;
        border-radius: 10px;
        margin-left: 25%;
        text-align: center;
    }

        footer .insta a,
        footer .face a,
        footer .wp a {
            color: white;
        }

    footer span {
        position: relative;
        top: 2px;
    }

.insta-icon,
.face-icon,
.wp-icon {
    color: white;
}

#div1,
#div2,
#div3 {
    margin-bottom: 30px;
}

.page-img-div {
    position: relative;
}

    .page-img-div h1 {
        letter-spacing: 10px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

.about-title {
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.section-galeri img {
    width: 100%;
    height: 350px;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px gray;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 100%;
}

    .gallery .card {
        width: 80px;
        border-radius: 16px;
        height: 360px;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
        flex: 0.55;
    }

        .gallery .card img {
            height: 360px;
            width: 100%;
            filter: blur(1px);
            transition: filter 0.4s ease-in-out;
        }

        .gallery .card:hover img, .gallery .card.active img {
            filter: none;
        }

        .gallery .card:hover {
            flex: 1;
            font-weight: bold;
            cursor: pointer;
            border-radius: 8px;
        }

.footer-mid {
    background: linear-gradient(to bottom, #000000, #fcc721);
    color: #fff;
}

    .footer-mid ul.menu {
        display: block;
        color: black;
        background-color: transparent;
    }

        .footer-mid ul.menu li a {
            display: block;
            color: white;
            font-size: 18px;
        }

    .footer-mid p {
        font-size: 18px;
        color: white;
        margin-bottom: 0.2rem;
    }

    .footer-mid a {
        color: white;
        font-size: 18px;
    }

    .footer-mid hr {
        border: 2px solid white; /* Ýnce border */
        box-shadow: 0 0 5px #fcc721; /* Border'a ek bir parlaklýk efekti */
        border-radius: 5px; /* Köþeleri biraz yuvarlamak isterseniz */
        width: 20%;
    }

.btn-contact-submit {
    background-color: #fcc521;
    color: #000;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
}

.contact-h {
    background: -webkit-linear-gradient(86deg, orange, black, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    .swiper-pop .slide-content {
        margin: 0 10px;
    }

    .swiper-pop .swiper-navBtn {
        display: block;
    }

    .swiper-pop .swiper-button-prev {
        left: 10px;
    }

    .menu-exp {
        position: absolute;
        right: 5%;
        top: 40%;
        font-size: 12px;
        color: gray;
        width: 64%;
        text-align: right;
    }

    .logo-img {
        width: 120px;
        height: 60px;
        border-radius: 50px;
        opacity: 1;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }

    .section-galeri img {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-top: 20px;
    }

    .gallery .card {
        width: 80px;
        border-radius: 16px;
        height: 150px;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
        flex: 0.25;
    }

        .gallery .card img {
            height: 150px;
            width: 100%;
        }

    footer .insta,
    footer .face,
    footer .wp {
        margin-top: 15px;
    }

    header h1 {
        color: #ffff;
        position: absolute;
        font-size: 3rem;
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
        width: 100%;
        top: 80%;
        transform: translateY(-50%);
        z-index: 1000;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
