@model Product
@{
    ViewData["Title"] = "Ürün Detay";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="@Model.ProductImage" class="card-img-top" alt="Ürün Resmi">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center" style="height:300px">
                            <h5 class="card-title mb-4">@Model.ProductName</h5>
                            <div class="row border-top p-5">
                                <div class="col-6 text-end">
                                    <b>Fiyat:</b>
                                </div>
                                <div class="col-6 text-start">
                                    <p class="card-text">@Model.ProductPrice</p>
                                </div>
                                <div class="col-6 text-end">
                                    <b>Açıklama:</b>
                                </div>
                                <div class="col-6 text-start">
                                    <p class="card-text">@Model.ProductDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a asp-area="Admin" asp-controller="AdminProduct" asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Geri Dön</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>