
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="gallery container mt-3 mb-2">
    <article class="card" data-id="1">
        <figure>
            <img src="img/home-cafe.jpg" alt="" title="" />
        </figure>
    </article>
    <article class="card" data-id="2">
        <figure>
            <img src="img/kahve.jpg" alt="" title="" />
        </figure>
    </article>
    <article class="card" data-id="3">
        <figure>
            <img src="img/bardak_cay.jpg" alt="" title="" />
        </figure>
    </article>
    <article class="card" data-id="4">
        <img src="img/kola.jpg" alt="" title="" />
    </article>
</section>

<section class="section-galeri container">
    <div class="row">
        <div class="col-md-4 col-12">
            <img src="img/bardak_cay.jpg" alt="">
        </div>
        <div class="col-md-4 col-12">
            <img src="img/home-cafe.jpg" alt="">
        </div>
        <div class="col-md-4 col-12">
            <img src="img/kahve.jpg" alt="">
        </div>
        <div class="col-md-4 col-12">
            <img src="img/home-cafe.jpg" alt="">
        </div>
    </div>
</section>