@model CategoryWithProducts
@{
    ViewData["Title"] = "Anasayfa";
}

@await Component.InvokeAsync("NewestProduct")

@section Body {
    <div class="menu" id="CategoryMenu">
        <ul>
            <li>
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-route-id="0" asp-fragment="CategoryMenu">Tümü</a>
            </li>
            @foreach (Category category in Model.Categories)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-route-id="@category.CategoryId" asp-fragment="CategoryMenu">
                        @category.CategoryName
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="div1" class="my-div">
        <div class="container">
            <div class="menu-grid">
                @if (Model.Products.Count() == 0)
                {
                    <h3>Kayıtlı ürün bulunmamaktadır.</h3>
                }
                @foreach (Product prd in Model.Products)
                {
                    <partial name="_ProductCard" model="@prd" />
                }
            </div>
        </div>
    </div>
}